@font-face{
  font-family:"Copperplate Gothic";
  src:url("/font/copperpate.woff");
  
}


  *
 {
  font-family:"Copperplate Gothic";
  font-size: large;
 }

   h1,h2
 {
  font-family: "Copperplate Gothic";
  font-size: 2.25rem;
  font-weight: inherit;
  color: #494B49;
  text-align:right;
 }

 /* .signature
 {
    width: 23%;
 }*/


   p.position
 {
  text-align: justify;
 }

 p
 {
   font-size: 0.9rem;
 }