.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}


.hide_popup {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.popup {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 600px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
}

@media screen and (max-width: 800px) {
  .popup {
    width: 300px;
  }
}



input[type=text], input[type=date], textarea, select {
  width: 90%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
select {
  width: 97%;
}

.cancelbtn, .signupbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 80px;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}