* {
  box-sizing: border-box;
}

body {
  font-family:"Copperplate Gothic";
  height: 100%;
  font-size: 22px !important;
  margin-top: 50px;
}

.main {  
  margin: 0px;
  padding: 12px;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}
.text link:hover {
color: red;
}

.main h3{
  color:#494B49;
  text-decoration: underline;
}
.main h3:hover{
  cursor: pointer;
  color: darkblue;
}
.main h1 {
  color:#074082;
  text-align: center;
}
.main h3{
  text-align: left;
  font-size: 22px;
}
.column .content img{
  cursor: pointer;
}
.column .content img:hover{
  box-shadow: 0 4px 8px 0#074082, 0 6px 20px 0 #074082;
}

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .column {
    width: 100%;
  }
  .row {   
    flex-direction: column;
  }
  body{
    font-size: 12px !important;
  }
  .main h3,.main h4{
    font-size: 15px;
  }
  img{
    width: 200px !important;
    height: 200px !important;
  }
  h1{
    font-size: 15px;
  }
}