* {
  box-sizing: border-box;
}

@font-face{
  font-family:"Copperplate Gothic";
  src:url("./font/copperpate.woff");
}

/* Style the body */
body {
  font-family: 'Copperplate Gothic';
  font-size: 22px;
  margin: 0;

}
.fixed {
  position:fixed;
  width:100%;
  top:0;
  left:0;        
}
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background-image: url('/pic/11.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  background-size: 100% 1000px;
  position: relative;
  color: #741922;
}
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color:#741922;;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #494B49;
  color: black;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: whitesmoke;
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.main h2 ,.main h3{
  color:#741922;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
