@font-face{
  font-family:"Copperplate Gothic";
  src:url("copperpate.woff");
  
}

@font-face{
  font-family:"Adine Kirnberg Alternate";
  src:url("Adine Kirnberg Alternate.woff");
}

*{
  font-family:"Copperplate Gothic";
}
/*
h1,h2,h3{
  font-family: "Adine Kirnberg Alternate";
  font-size: 4rem;
  font-weight: inherit;
}*/

.signature{
  width: 33%;
}