<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Magic Connect</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/navigation.css">
</head>

<body>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <a href="index.html">
        <div class="nav-title">
          Magic Connect
        </div>
      </a>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="nav-links">
      <a href="aboutUs.html">Über Uns</a>
      <a href="application.html">Bewerben</a>
      <a href="career.html">Karriere</a>
      <a href="schools.html">Schulen</a>
      <a href="help.html">Hilfe</a>
    </div>
  </div>

  <!-- CONTENT HERE -->

  <div class="footer">
    <div class="footer_icon">
      <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
      <a href="https://www.twitter.com/" target="_blank" class="fa fa-twitter"></a>
      <a href="https://www.google.com/" target="_blank" class="fa fa-google"></a>
      <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube"></a>
      <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
      <a href="https://www.snapchat.com/" target="_blank" class="fa fa-snapchat-ghost"></a>
    </div>
    <div class="footer_text">
      <a href="contact.html">Kontakt</a>
      <a href="imprint.html">Impressum</a>
      <a href="dataProtection.html">Datenschutz</a>
    </div>
  </div>
</body>

</html>